---
layout: page
title: Sponsorships and Partners
permalink: /partners/
---

<p class="text-center">
	<em class="small">Select an image to read about that Partner</em>
</p>


<div id="partner-images">
	{% for partner in site.data.partners%}
	<img src="{{site.baseurl}}/images/sponsors/{{partner.img_src}}.png" alt="{{partner.name}}" class="img-thumbnail" data-toggle="modal" data-target="#partnerModal{{partner.img_src}}" style="max-width: 30%; {% if partner.name != '' %}cursor: pointer;{% endif %}">
	{% endfor %}
</div>

<!-- Modals -->
{% for partner in site.data.partners%}
{% if partner.name != '' %}
<div class="modal fade" id="partnerModal{{partner.img_src}}" tabindex="-1" role="dialog" aria-labelledby="partnerModal{{partner.img_src}}Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="partnerModal{{partner.img_src}}Label">{{partner.name}}</h4>
			</div>
			<div class="modal-body">
				{{partner.description}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}

<!-- <h3>Current Tampa Bay Hurricane Expo Vendors</h3> -->
<div id="sponsors" class="well">
	{% if site.data.vendors %}
	<ul>
		{% for vendor in site.data.vendors %}
		<li>{{vendor.name}}</li>
		{% endfor %}
	</ul>
	{% else %}
	<em class="lead">
		There are currently no Exhibitors or Sponsors registered.
	</em>
	{% endif %}
</div>

<div class="row">
	<div class="col-sm-6">
		<img src="{{site.baseurl}}/images/DSC_0712.png" class="img-thumbnail">
	</div>
	<div class="col-sm-6">
		<img src="{{site.baseurl}}/images/DSC_0810.png" class="img-thumbnail">
	</div>
</div>