<footer id="footer" style="margin-top: 30px; padding-bottom: 15px; background: #eee;">

	<hr>
	<div class="container">

		<p>
			<img src="{{site.baseurl}}/images/footer-logos.png" class="img-responsive center-block">
		</p>

		<hr>

		<div class="row">

			<div class="col-sm-7 col-sm-push-5 text-center">
				<ul class="list-inline text-center">
					{% for navitem in site.data.navitems %}
					<li>
						<a href="{{ navitem.href | prepend: site.baseurl }}" class="btn btn-text">
							{{navitem.text}}
						</a>
					</li>
					{% endfor %}
					<li>
						<a href="https://www.facebook.com/pages/Tampa-Bay-Hurricane-Expo/123528671182856" target="_blank" class="btn btn-text">
							<i class="fa fa-fw fa-facebook"></i>
						</a>
					</li>
					<!-- <li><a href="#" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li> -->
				</ul>
			</div>

			<div class="col-sm-5 col-sm-pull-7">
				<p class="text-center">
					Copyright &copy; <span id="copyYear">2013</span> Hillsborough County. All rights reserved.
				</p>
			</div>

		</div>

	</div>

</footer>
