<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title text-center">Event Details</h3>
	</div>
	<div class="panel-body">
		<p class="lead">
			<strong>
				{{ site.event_date | date: "%A %B %-d, %Y" }} from {{site.start_time}} to {{{site.end_time}}
			</strong>
		</p>

		<h5>
			WestShore Plaza<br>
			<small>
				250 WestShore Plaza<br>
				Tampa, FL 33609
			</small>
		</h5>

		<div class="embed-responsive embed-responsive-4by3 thumbnail">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3524.5263279528845!2d-82.52940584969737!3d27.947162882608207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c2faed2cf17d%3A0xf7ef7c511168a37d!2s250+Westshore+Plaza%2C+Tampa%2C+FL+33609!5e0!3m2!1sen!2sus!4v1492098844895" class="embed-responsive-item"></iframe>
		</div>

		<p class="small text-center text-success">
			{{ site.tagline }}
		</p>

	</div>
</div>
<p>
	<a href="http://www.hillsboroughcounty.org/en/residents/public-safety/emergency-management/find-evacuation-information" target="_blank" class="btn btn-lg btn-block btn-primary">
		My Evacuation Zone <i class="fa fa-fw fa-warning"></i>
	</a>
</p>
