---
layout: page
title: Partners in Preparedness
permalink: /partners/
---

{% if false %}
<div id="partner-images">
	{% for partner in site.partners%}
	<img src="{{site.baseurl}}/images/sponsors/{{partner.img_src}}.png" alt="{{partner.name}}" class="img-thumbnail" style="max-width: 31%;">
	{% endfor %}
</div>
{% endif %}

<!-- <h3>Current Tampa Bay Hurricane Expo Vendors</h3> -->
<div id="sponsors" class="well">
	{% if site.data.vendors %}
	<ul>
		{% for vendor in site.data.vendors %}
		<li>{{vendor.name}}</li>
		{% endfor %}
	</ul>
	{% else %}
	<em class="lead">
		There are currently no Exhibitors or Sponsors registered.
	</em>
	{% endif %}
</div>

<hr>

<div class="row">
	<div class="col-sm-6">
		<img src="{{site.baseurl}}/images/DSC_0712.png" class="img-thumbnail">
	</div>
	<div class="col-sm-6">
		<img src="{{site.baseurl}}/images/DSC_0810.png" class="img-thumbnail">
	</div>
</div>
